@import url(fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  
  display: grid;
  gap: 1rem;
}

legend {
  display: flex;
  align-content: center;
  gap: .75rem;

  color: var(--text-heading);
  font: var(--text-heading-sm);

  margin-bottom: 1.5rem;

  & svg {
    width: 1.5rem;
    height: 1.5rem;

    & path {
      fill: var(--input-placeholder)
    }
  }
}

fieldset + fieldset {
  margin-top: 3rem;
}