input[type="radio"] {
  all: unset;
}

.radio-wrapper {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;

  justify-content: space-evenly;
  gap: .5rem;
  padding: 4px;
}

.radio-inner {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  padding: .55rem;
  border-radius: .2rem;

  & svg {
    width: 1rem;
    height: 1rem;

    & path {
      fill: var(--input-placeholder);
    }
  }

  & label {
    margin: 0;
  }

  &:hover,
  &:focus-within,
  &:has(:checked) {
    background-color: var(--input-stroke);

    & svg path {
      fill: var(--brand-light);
    }
  }
}