header {
  & nav {
    justify-content: space-between;

    & > a {
      text-transform: uppercase;
      font-weight: var(--fw-base);
      font-size: var(--fs-base);

      color: var(--brand-color-light);
    }

    & > div > a {
      font-size: 1rem;
    }
  }
}
