.px-base {
  padding-inline: var(--px-base);
}

.py-sm {
  padding-block: var(--py-sm);
}

.py-base {
  padding-block: var(--py-base);
}

.py-xl {
  padding-block: var(--py-xl);
}

.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.desktop-only {
  display: none;
}

.separetor {
  height: 1px;
  width: 100%;
  background-color: var(--stroke-color);
}


@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }
}