.switch {
  font-size: 1rem;

  width: 3.7rem;
  height: 1.8rem;

  position: relative;

  & input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  background-color: var(--input-base);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 1.875rem;

  transition: 0.2s;
}

.slider::before {
  position: absolute;
  content: "";

  height: 1.4rem;
  width: 1.4rem;
  border-radius: 1.25rem;

  left: 0.2rem;
  bottom: 0.2rem;

  background-color: var(--input-stroke);
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: var(--text-heading);
}

input:checked + .slider {
  background-color: var(--brand-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--input-stroke);
}

input:checked + .slider:before {
  transform: translateX(1.9rem);
}

.terms-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: .75rem;
  
  align-items: flex-start;

  & strong {
    font-weight: 500;
    color: var(--brand-light);
  }
}

.terms-uploads {
  display: flex;
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  & .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;

    background-image: url(../../assets/icons/checkbox.svg);
    background-repeat: no-repeat;
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../../assets/icons/checkbox-checked.svg);
  }
}