* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-primary: #F4F5FB;
  --bg-color-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --content-always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --fw-md: 500;
  --fw-sb: 600;
  --fw-bl: 700;

  --ff-sans: 'Inter', system-ui, sans-serif;

  --fs-sm: .875rem;
  --fs-base: 1rem;
  --fs-lg: 1.5rem;
}

html {
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
}

body {
  background-color: var(--bg-color-primary);
}